<% @title = "ユーザー情報変更" %>
<h1><%= @title %></h1>

    <%= form_with model: @user,local: true do |form|  %>
  <br>
  <%= label_tag 'Eメール' %>
  <%= form.text_field :email %>

  <br>
  <%= label_tag '名前' %>
      <%= form.text_field :name %>

  <br>
    <%= label_tag '住所' %>
    <%= form.text_field :address %>

  <br>

      <%= form.submit %>

    <% end %>


