<h1>カート</h1>
<% num = -1%>
<% @carts.each do |t| %>
  <% num = num + 1%>
  <td>ID<%= t["id"] %></td>
  <td><%= t["name"] %></td>
  <td><%= t["price"] %>円</td>
  <td>数量<%= t["quantity"] %>
  <%= button_to '+', "/cart/plus/#{num}" %>
  <%= button_to'-', "/cart/minus/#{num}" %>
  </td>
  <%= link_to '削除', "/cart/destroy/#{num}" %>

  <br>
<% end %>
<td>合計<%= @total %>円</td><br>

<%= link_to '決済', 'history/create' %>
<%= link_to 'カートを空にする', '/cart/empty'  %>










