<h1>商品詳細</h1>

<table class="attributes">
  <tr>
    <th>商品ID</th>
    <td><%=@product.id %></td>
  </tr>
  <tr>
    <th>商品</th>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= @product.price %></td>
  </tr>
  <tr>
  <tr>
    <td>
      <%= form_tag "/cart/new", :method => :post do %>
        <%= hidden_field_tag :id, @product.id %>
        <%= hidden_field_tag :name, @product.name %>
        <%= hidden_field_tag :price, @product.price %>
        <%= hidden_field_tag :image, "default" %>
        <div class="field">
          <%= label_tag :quantity %><br/>
          <%= text_field_tag :quantity,1 %>
        </div>
        <div class="actions">
          <%= submit_tag "カートに入れる" %>
        </div>
      <% end %>
    </td>
  </tr>
  </tr>

</table>